<!DOCTYPE html 5>
<html lang="en">
  <head>
    <title>Twitter Lab1</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fiexed-top">
      <div class="container">
        <div class="navbar-header"><a href="#" class="navbar-brand">Twitter Lab1</a></div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" name="email" class="form-control"/>
            </div>
            <div style="margin-left:5px;" class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control"/>
            </div>            
            <button type="submit" style="margin-left:5px;" class="btn btn-success">sign in</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
    </div>
    <div class="container">
      <hr/>
      <footer></footer>
      <p>Twitter Lab1 2016</p>
    </div>
  </body>
</html>